<div class="main">
    <div class="section text-center">
      <div class="container">

        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
              <app-loading *ngIf="carga"></app-loading>
            </div>
            </div>


        <h1 class="title">Venta diaria {{onPeopleLocation.idlocation}}</h1>


        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
              <app-loading *ngIf="flag"></app-loading>
            </div>
        </div>

        <table *ngIf="!flag" class="table" >
            <thead>
                <tr class='table-dark'>
                    <th>Codin</th>
                    <th>Nombre</th>
                    <th>Unidades</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let venta of ListVentaProductos; let i = index" >
                    <th>{{venta.codin}}</th>
                    <th>{{venta.nombre}}</th>
                    <th>{{venta.unidades}}</th>

                    <ng-container *ngIf="venta.taxid == '000'">
                        <th>{{venta.price | currency: 'Q'}}</th>    
                        <th>{{venta.price*venta.unidades | currency: 'Q'}}</th>
                        {{setAcumulado(venta.price*venta.unidades)}}
                    </ng-container>
                    
                    <ng-container *ngIf="venta.taxid != '000'">
                        <th>{{venta.price*1.12 | currency: 'Q'}}</th>
                        <th>{{venta.price*1.12*venta.unidades | currency: 'Q'}}</th>
                        {{setAcumulado(venta.price*1.12*venta.unidades)}}
                    </ng-container>
                    
                   
                </tr>
                <tr class="table-dark">
                    <th>Total</th>
                    <th colspan='5'>{{this.acumulado | currency: 'Q' }}</th>
                </tr>
                <tr>
                    

            </tbody>
        </table>

      </div>
    </div>
</div>