<!-- main -->
<div class="main">
    <div class="section text-center">




        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Ventas Globales</h1>
            </div>
        </div>






        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="tab-pane text-center">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <!-- <h2 class="text-left title">Etapas</h2> -->
                            <br />
                            <br />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Selecciona cualquier mes del año actual</label>
                        <input (change)="setMes($event)" type="month" class="form-control" name="mes">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Dia</th>
                                <th scope="col">Farmacia</th>
                                <th scope="col">Total</th>
                                <th scope="col">Meta (Mes actual)</th>
                                <th scope="col">Mas detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let venta of ListaVenta">

                                <th>{{venta.dia}}</th>
                                <th>{{venta.host}}</th>
                                <th>{{venta.total | currency: 'Q'}}</th>
                                <ng-container *ngFor="let meta of ListaMetas" >
                                    <th *ngIf="venta.host==meta.idlocation ">{{meta.monto | currency: 'Q'}}</th>
                                </ng-container>
                                
                            <th>
                                <button type="button" class="btn btn-just-icon"><i
                                        class="nc-icon nc-glasses-2"></i></button>
                            </th>


                            </tr>


                        </tbody>
                    </table>

                </div>

            </div>

        </div>





    </div>
</div>





<!-- end main -->