<!-- main -->
<div class="main">
    <div class="section text-center">




        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Ventas Globales</h1>
            </div>
        </div>






        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="tab-pane text-center">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <!-- <h2 class="text-left title">Etapas</h2> -->
                            <div class="chart-container">
                                <div class="spectre-line-chart">
                            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single"
                                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" 
                                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                            </ngx-charts-bar-vertical>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                              <div class="info">
                                <ngx-gauge [value]='pVenta' [thick]='15' 
                            [label]="farmacia" append="%">
                            </ngx-gauge>
                            <div>
                                <label>Porcentaje de Meta Actual</label>
                            </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                  <ngx-gauge [value]='pVentaDiaria' [thick]='15' 
                              [label]="farmacia" append="%">
                              </ngx-gauge>
                              <div>
                                  <label>Porcentaje de Meta Diaria</label>
                              </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="info">
                                  <ngx-gauge [value]='pProyeccion' [thick]='15' 
                              [label]="farmacia" append="%">
                              </ngx-gauge>
                              <div>
                                  <label>Porcentaje de Proyeccion</label>
                              </div>
                                </div>
                              </div>
                        </div>

                        
                        
                        
                       
                        
                        
                    </div>
                            <br />
                            <br />
                        </div>
                    </div>

                    <div class="mb-3">

                        <label class="form-label">Selecciona cualquier mes del año actual</label>
                        <input (change)="setMes($event)" type="month" class="form-control" name="mes">
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Dia</th>
                                <th scope="col">Farmacia</th>
                                <th scope="col">%Actual</th>
                                <th scope="col">%Diario</th>
                                <th scope="col">%Proyeccion</th>
                                <th scope="col">Venta actual</th>
                                <th scope="col">Meta (Mes actual)</th>
                                <th scope="col">QProyeccion</th>
                                <th scope="col">Mas detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let meta of ListaMetas">
                            <tr *ngFor="let venta of ListaVenta">

                                <th *ngIf="venta.host==meta.idlocation ">{{venta.dia}}</th>
                                <th *ngIf="venta.host==meta.idlocation ">{{venta.host}}</th>                                
                                <th *ngIf="venta.host==meta.idlocation ">{{venta.total/meta.monto | percent: '2.0-2'}}</th>
                                <th *ngIf="venta.host==meta.idlocation ">{{(venta.dia/noDiasMes) | percent: '2.0-2'}}</th>
                                <th *ngIf="venta.host==meta.idlocation ">{{((venta.total/venta.dia)*(noDiasMes))/meta.monto| percent: '2.0-2'}}</th>
                                <th *ngIf="venta.host==meta.idlocation ">{{venta.total | currency: 'Q'}}</th>
                                <th *ngIf="venta.host==meta.idlocation ">{{meta.monto | currency: 'Q'}}</th>
                                <th *ngIf="venta.host==meta.idlocation ">{{(venta.total/venta.dia)*(noDiasMes)| currency: 'Q'}}</th>
                                
                                <th *ngIf="venta.host==meta.idlocation " >
                                    <button type="button" class="btn btn-just-icon"><i
                                            class="nc-icon nc-glasses-2" (click)="goFarmacia(venta.host)"></i></button>
                                </th>


                            </tr>
                        </ng-container>


                        </tbody>
                    </table>

                    <div class="card text-bg-light mb-3" >
                        <div class="card-header">Resumen Venta {{fechaResumen}}</div>
                        <div class="card-body">
                            <table class="table">
                               
                                    <tr>
                                        <th>Venta Actual:</th>
                                        <td>{{totalVentaActual | currency: 'Q'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Venta Esperada:</th>
                                        <td>Item 2</td> 
                                    </tr>
                                    <tr>
                                        <th>Meta</th>
                                        <td>{{totalVentaMeta | currency: 'Q'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Porcentaje</th>
                                            <td>Item 4</td>
                                    </tr>
                            </table>
                        </div>
                      </div>

                </div>

            </div>

        </div>

        



    </div>
</div>





<!-- end main -->