<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <p>home-gerente works!</p>
                    <!--nav  -->
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                          <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#gerencia" role="tab">Gerencia</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#bodega" role="tab">Bodega</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#farmacia" role="tab">Farmacia</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- End nav -->
                      <!-- Tab panes -->
      <div class="tab-content following">
        <div class="tab-pane active" id="gerenecia" role="tabpanel">
          <h3 class="text-muted">Aca iran listado personal de gerencia</h3>
          <button class="btn btn-warning btn-round">Mas detalles</button>
        </div>
        <div class="tab-pane text-center" id="bodega" role="tabpanel">
          <h3 class="text-muted">aca ira el listado personal de bodega</h3>
          <button class="btn btn-warning btn-round">Mas Detalles</button>
        </div>
        <div class="tab-pane text-center" id="farmacia" role="tabpanel">
          <h3 class="text-muted">Aca iran listado personal de farmacia</h3>
          <button class="btn btn-warning btn-round">Mas detalles</button>
        </div>
      </div>
      <!--end Tab panes  -->
                </div>
            </div>
        </div>
    </div>