<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Gerencia</h2>
          <h5 class="description">En lo siguiente aparecen los modulos disponibles para gerencia</h5>
          <br>
          <a href="#paper-kit" class="btn btn-info btn-round">Mas detalles</a>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-info">
              <i class="nc-icon nc-badge"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Modulo de Nomina</h4>
              <p class="description">Consultar, Crear, Editar y Eliminar trabadores</p>
              <a href="javascript:;" class="btn btn-link btn-info" (click)="goModuloNomina()">Mas detalles</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-info">
              <i class="nc-icon nc-cart-simple"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Modulo de Ventas</h4>
              <p>Detalles de venta y estadisticas</p>
              <a href="javascript:;" class="btn btn-link btn-info" (click)="goModuloVenta()">Mas detalles</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-info">
              <i class="nc-icon nc-box-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Modulo de Bodega</h4>
              <p>Invetarios y traslados</p>
              <a href="javascript:;" class="btn btn-link btn-info" >Mas detalles</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-info">
              <i class="nc-icon nc-money-coins"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Modulo de Contabilidad</h4>
              <p class="description">Aperturas y cierres</p>
              <a href="javascript:;" class="btn btn-link btn-info" >Mas detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>