<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Mi venta</h2>
          <br>
          <a href="#paper-kit" class="btn btn-info btn-round">Mas detalles</a>
        </div>
      </div>
      <br/>
      <br/>
      <div *ngFor="let sucursal of ListaVentaSucursal" class="row">
        <div class="col-md-6">
          <div class="info">
            
            <div  class="card text-bg-light mb-3">
              <div class="card-header">{{sucursal.idlocation}}</div>
              <div class="card-body table-card">
                  <table class="table">
                      <tr class='table-dark'>
                          <th colspan='2'>
                             {{sucursal.pname}}
                          </th>
                      </tr>
                      <tr>
                          <th>Mi venta actual</th>
                          <th>{{sucursal.venta | currency: 'Q'}}</th>
                      </tr>
                      <tr>
                          <th>Mi promedio de venta (diaria)</th>
                          <th>{{sucursal.venta/day! | currency: 'Q'}}</th>
                      </tr>
                      <tr>
                          <th>Mi meta</th>
                          <th>{{sucursal.meta | currency: 'Q'}}</th>
                      </tr>
                      <tr>
                          <th>Me falta para mi meta</th>
                          <th>{{sucursal.meta-sucursal.venta | currency: 'Q'}}</th>
                      </tr>
                      <tr>
                          <th>Porcentaje Alcanzado</th>
                          <th>{{(sucursal.venta)/(sucursal.meta) | percent: '2.0-2'}}</th>
                      </tr>
                      <tr>
                        <th>Mi meta diaria de venta</th>
                        <th *ngIf="noDiasMes!-day! != 0">{{(sucursal.meta - sucursal.venta)/(noDiasMes!-day!) | currency: 'Q'}}</th>
                        <th *ngIf="noDiasMes!-day! == 0">{{(sucursal.meta - sucursal.venta)/1 | currency: 'Q'}}</th>
                    </tr>
                  </table>
              </div>
          </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="info">
            <div class="chart-container">
              

              <div class="row">
                  <div class="col-md-6">
                      <div class="info">
                          <ngx-gauge [value]='redondear(((sucursal.venta)/(sucursal.meta))*100)' [thick]='15'  append="%">
                          </ngx-gauge>
                          <div>
                              <label>Porcentaje de mi venta</label>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-md-6">
                      <div class="info">
                          <ngx-gauge [value]='redondear(((sucursal.venta)/(sucursal.meta))*100)' [thick]='15' append="%">
                          </ngx-gauge>
                          <div>
                              <label>Porcentaje alcanzao</label>
                          </div>
                      </div>
                  </div>
                  
              </div>







          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6"> 
          
          <div  class="card text-bg-light mb-3">
            <div class="card-header">Mi venta (fecha)</div>

            <table class="table">
            


              <thead>
                  <tr>
                      <th scope="col">Dia</th>
                      <th scope="col">Titular</th>
                      <th scope="col">Apoyo</th>
                      <th scope="col">Acumulado</th>
                  </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let venta of ListaVentaDiaria; let i = index">
                            <tr>
                              <th>{{venta.dia}}</th>
                              <th>{{venta.titular | currency: 'Q'}}</th>
                              <th>{{venta.apoyo | currency: 'Q'}}</th>
                              <th *ngIf="i==0">{{setAcumulado(venta.titular+venta.apoyo) | currency: 'Q'}}</th>
                              <th *ngIf="i>0">{{getAcumulado(venta.titular+venta.apoyo) | currency: 'Q'}}</th>
                          </tr>
                </ng-container>
                
                <tr>
                  <th>Total</th>
                  <th>{{acumuladoTitular | currency: 'Q'}}</th>
                  <th>{{acumuladoApoyo | currency: 'Q'}}</th>
                  <th>{{acumulado | currency: 'Q'}}</th>
                </tr>
             
                             
                                
                              
              </tbody>
          </table>

            <div class="card-body table-card">
            </div>
          </div>

          
        </div>
        <div class="col-md-6"> 
          
          <div  class="card text-bg-light mb-3">
            <div class="card-header">Mis Cierres</div>
            <div class="card-body table-card">

              <cdk-accordion class="example-accordion">
                <cdk-accordion-item *ngFor="let item of ListaCierres; let i = index"
                    #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button"
                    tabindex="0" [attr.id]="'accordion-header-' + item.money"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + item.money">

                   {{i<9 ? Transacciones(item.money) : ngOnDestroy()}}
                    <div  class="example-accordion-item-header" (click)="accordionItem.toggle()">

                        {{'#'+item.seq+' '}}{{ item.dateend | date:"shortDate"}}<strong>{{' '+(item.apertura + item.venta + item.gastos + item.ingresos + item.cierre) |currency: 'Q'}}</strong>
                        <span class="example-accordion-item-description">
                            <!-- Click para {{ accordionItem.expanded ? 'cerrar' : 'abrir' }} -->
                            <i *ngIf="accordionItem.expanded"
                                class="nc-icon nc-simple-remove"><strong>Cerrar</strong></i>
                            <i *ngIf="!accordionItem.expanded"
                                class="nc-icon nc-simple-add"><strong>Abrir</strong></i>

                        </span>
                    </div>

                    <div class="example-accordion-item-body" role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'"
                        [attr.id]="'accordion-body-' + item.money"
                        [attr.aria-labelledby]="'accordion-header-' + item.money">
                        <table class="table">

                            <tr>
                                <th>Apertura</th>
                                <td>{{item.apertura | currency: 'Q'}}</td>
                            </tr>
                            <tr>
                                <th>Venta</th>
                                <td>{{item.venta | currency: 'Q'}}</td>
                            </tr>
                            <tr>
                                <th>Ingresos</th>
                                <td>{{item.ingresos | currency: 'Q'}}</td>
                            </tr>
                            <tr>
                                <th>Gastos</th>
                                <td>{{item.gastos | currency: 'Q'}}</td>
                            </tr>
                            <tr>
                                <th>Cierre</th>
                                <td>{{item.cierre | currency: 'Q'}}</td>
                            </tr>
                            <tr >
                                <th>Deposito</th>
                                <td>{{item.apertura + item.venta + item.gastos + item.ingresos + item.cierre | currency: 'Q'}}</td>

                            </tr>

                        </table>
                        <div>
                            <table class="table">
                                <tr>
                                    <td colspan="3" class="text-center fw-bold table-dark">Depositos
                                        Registrados</td>
                                </tr>
                                <br>
                                <tr>
                                    <button type="button" class="btn btn-dark" data-toggle="modal"
                                        data-target="#exampleModalLong"
                                        (click)="Transacciones(item.money)">
                                        mas detalles
                                    </button>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <!-- </ng-container> -->
                </cdk-accordion-item>
            </cdk-accordion>

            </div>
          </div>

          
        </div>
      </div>
    </div>
  </div>
</div>

