<div class="main">
    <div class="section text-center">
      <div class="container">

            <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
              <app-loading *ngIf="carga"></app-loading>
            </div>
            </div>


            


            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">Productos disponibles en farmacia</h2>
              </div>
            </div>
            <br/>
            <br/>


            <div class="row">
              <div class="col-md-12 ml-auto mr-auto">
                <app-loading *ngIf="flag"></app-loading>
              </div>
              </div>



            <div *ngIf="!flag" class="row">
             <div class="nc-icon nc-zoom-split">
              <input type="text" [(ngModel)]="filtroNombre" placeholder="Buscar por nombre">
              <br>
              <br>
             </div>
              
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Unidades</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let i of ListaInvetario " >
                      <tr [hidden]="filtroNombre && i.nombre.toLowerCase().indexOf(filtroNombre!.toLowerCase()) === -1">   
                        <th>{{i.id}}</th>
                        <th>{{i.code}}</th>
                        <th>{{i.nombre}}</th>
                        <th>{{i.units}}</th>
                      </tr>
                      </ng-container>
                    </tbody>
                  </table>
            </div>

       </div>
    </div>
</div>

