<div class="main">
    <div class="section text-center">
        <div class="container">

            
            <h1 class="title">Evaluacion Diagnostica</h1>

            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">Puesto</label>
                    <input type="text" class="form-control" name="puesto">
                </div>
                <div class="mb-3">
                    <label class="form-label">Comentario</label>
                    <input type="text" class="form-control" name="comentario">
                </div>
                <div class="mb-3">
                    <label class="form-label">Producto Inicial</label>
                    <input type="text" class="form-control" name="producto">
                </div>

                <div class="mb-3">
                    <button type="button" class="btn btn-success" (click)="Start()" >Guardar e Iniciar</button>
                </div>
            </form>
        </div>
    </div>

</div>