<div class="main">
    <div class="section text-center">
      <div class="container">

        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
              <app-loading *ngIf="carga"></app-loading>
          </div>
      </div>


        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Movimientos</h2>
            <h5 class="description">En lo siguiente aparecen opciones de movimientos de productos entre farmacias</h5>
            <br>
            <a href="#paper-kit" class="btn btn-info btn-round">Mas detalles</a>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-single-copy-04"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Nuevo Movimiento</h4>
                <p class="description">Se creara una nueva nota de traslado</p>
                <a href="javascript:;" class="btn btn-link btn-info" (click)="goCrearNota()">Mas detalles</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-bullet-list-67"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Listar Movimientos</h4>
                <p>Podras ver todos los movimientos realizados por tu farmacia</p>
                <a href="javascript:;" class="btn btn-link btn-info" (click)="goListarMovimientos()">Mas detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
