<div class="main">
    <div class="section text-center">
      <div class="container">

        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
              <app-loading *ngIf="carga"></app-loading>
          </div>
      </div>


        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Modulo de venta - Gerencia</h2>
            <h5 class="description">En lo siguiente aparecen consultas de la venta</h5>
            <br>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-4" style="cursor:pointer;" (click)="goVentaDiaria()">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Venta Global</h4>
                <p class="description">Datos estadísticos de la venta diaria de las distintas farmacias</p>
                <a href="javascript:;" class="btn btn-link btn-info" >Mas detalles</a>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="cursor:pointer;" (click)="goEstimulo()">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-chart-pie-36"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Estimulos</h4>
                <p>Estímulos de los administradores de farmacias</p>
                <a href="javascript:;" class="btn btn-link btn-info" >Mas detalles</a>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="cursor:pointer;" (click)="goMovimientos()" >
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-send"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Movimientos</h4>
                <p>Movimientos de productos entre farmacias</p>
                <a href="javascript:;" class="btn btn-link btn-info"  >Mas detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

