<div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Modulo de venta - Gerencia</h2>
            <h5 class="description">En lo siguiente aparecen consultas de la venta</h5>
            <br>
            <a href="#paper-kit" class="btn btn-info btn-round">Mas detalles</a>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Venta Global</h4>
                <p class="description">Datos estadísticos de la venta diaria de las distintas farmacias</p>
                <a href="javascript:;" class="btn btn-link btn-info" (click)="goVentaDiaria()">Mas detalles</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-chart-pie-36"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Estimulos</h4>
                <p>Estímulos de los administradores de farmacias</p>
                <a href="javascript:;" class="btn btn-link btn-info" (click)="goEstimulo()">Mas detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-4 ml-auto mr-auto">
          <div class="card card-register">
            <h3 class="title mx-auto">Welcome</h3>
            <div class="social-line text-center">
              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <form class="register-form">
              <label>Email</label>
              <input type="text" class="form-control" placeholder="Email">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password">
              <button class="btn btn-danger btn-block btn-round">Register</button>
            </form>
            <div class="forgot">
              <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->


  </div>
