<div class="main">
    <div class="section text-center">
      <div class="container">

        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
              <app-loading *ngIf="carga"></app-loading>
          </div>
      </div>


        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Administrador de farmacia</h2>
            <h5 class="description">En lo siguiente aparecen los modulos disponibles para administrador de farmacia</h5>
            <br>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Mis estimulos</h4>
                <p>Estadisticas acerca de mi venta</p>
                <a href="javascript:;" class="btn btn-link btn-info" (click)="goVenta()">Mas detalles</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-send"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Mis movimientos</h4>
                <p>Movimientos de productos entre farmacias</p>
                <a href="javascript:;" class="btn btn-link btn-info" (click)="goMovimientos()" >Mas detalles</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="nc-icon nc-cart-simple"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Inventario</h4>
                <p class="description">Listado de todos los productos actualmente en la farmacia</p>
                <a href="javascript:;" class="btn btn-link btn-info" (click)="goInventario()">Mas detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div>

