<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Locacion</label>
                            <select  [(ngModel)]="EditProfile.idLocation" class="form-control" name="idLocation">
                                <option  *ngFor="let item of listaOpLocations" value="{{item.id}}">{{item.id}}</option>
                        </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Salario</label>
                        <input [(ngModel)]="EditProfile.salario" type="number" class="form-control" name="salario">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Puesto</label>
                            <select [(ngModel)]="EditProfile.idPuesto" class="form-control" name="idPuesto">
                                <option  *ngFor="let item of listaOpPuestos" value="{{item.id}}">{{item.nombre}}</option>                              
                        </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Etapas</label>
                            <select  [(ngModel)]="EditProfile.idEtapa" class="form-control" name="idEtapa">
                                <option  *ngFor="let item of listaOpEtapas" value="{{item.id}}">{{item.nombre}}</option>
                        </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha Ingreso</label>
                        <input [(ngModel)]="EditProfile.fechaIngreso" type="date" class="form-control" name="fechaIngreso">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha Fin</label>
                        <input [(ngModel)]="EditProfile.fechaFin" type="date" class="form-control" name="fechaFin">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fecha_Pago</label>
                        <input [(ngModel)]="EditProfile.fechaPago" type="date" class="form-control" name="fechaPago">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Estado</label>
                            <select [(ngModel)]="EditProfile.estado" class="form-control" name="estado">
                                <option  *ngFor="let item of listaOpEstado" >{{item}}</option>
                        </select>
                        </div>
        
                        <div class="mb-3">
                            <button  type="button" class="btn btn-success" (click)="EditarProfile()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
