<!-- main -->
<div class="main">
    <div class="section text-center">



        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <app-loading *ngIf="carga"></app-loading>
            </div>
        </div>



        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Locaciones</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="tab-pane text-center">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">

                            <div id="map"></div>
                           
                                    <div class="tab-pane text-center" >
                                        <div class="row">
                                            <div class="col-md-12 ml-auto mr-auto">
                                                <br>
                                                <br>
                                                <button  type="button"
                                                    class="btn btn-primary float-left" (click)="crear()">Agregar</button>
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                    
                    
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Direccion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let location of ListaLocations">
                                                    
                                                    <th>{{location.id}}</th>
                                                    <td>{{location.name}}</td>
                                                    <td>{{location.address}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-warning" (click)="Editar(location.id)">Editar</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" (click)="Eliminar(location.id)">Eliminar</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-success" (click)="Ver(location.latitud,location.longitud,location.name)" >Ver</button>
                                                    </td>
                                                    
                    
                                                </tr>
                    
                                            </tbody>
                                        </table>
                    
                                    </div>
                    
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end main -->