<!-- main -->
<div class="main">
    <div class="section text-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Locaciones</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="tab-pane text-center">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">

                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end main -->