<div class="main">
    <div class="section text-center">
        <div class="container">
            <h1 class="title">Rutas de venta</h1>

            <br>
            <form *ngIf="!start">
                <label>Ingresa el codigo del rutero</label>
                <input type="text" class="form-control" [(ngModel)]="ObjId.idPeople" title="codigo de la persona" name="ObjId.id">
                <button class="btn btn-info" (click)="startRuta()">Rastrear</button>
            </form>
            <button *ngIf="start" class="btn btn-info" (click)="otherRutero()" >Ver otro rutero</button>
            <br>

             <div id="map"></div>
             <h2>Direccion Actual</h2>
             <table class="table">
                <thead>
                    <tr>
                        <th>longitud</th>
                        <th>latitud</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ObjCoordenadas.longitud}}</th>
                        <th>{{ObjCoordenadas.latitud}}</th>
                    </tr>
                </tbody>
             </table>
        </div>
    </div>
</div>
