<div class="main">
    <div class="section text-center">
        <div class="container">
            <h1 class="title">Rutas de venta</h1>
             <div id="map"></div>
             <h2>Direccion Actual</h2>
             <table class="table">
                <thead>
                    <tr>
                        <th>longitud</th>
                        <th>latitud</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ObjCoordenadas.longitud}}</th>
                        <th>{{ObjCoordenadas.latitud}}</th>
                    </tr>
                </tbody>
             </table>
        </div>
    </div>
</div>
