<div class="main">
    <div class="section text-center">
      <div class="container">
        <h1 class="title">Mis Datos</h1>
        <table class="table">
         <ng-container *ngFor="let i of ListPeople">
            <tr>
                <th>ID</th>
                <td colspan='3'>{{i.id}}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td colspan='3'>{{i.name}}</td>
            </tr>
            <tr>
                <th>Contrasena</th>
                <td *ngIf="!flag">{{i.apppassword}}</td>
                <td *ngIf="flag"><input type="text" [(ngModel)]="ObjPeopleLocation.apppassword" placeholder="Nueva Contrasena"></td>
                <td *ngIf="!flag"><button class="btn btn-outline-primary nc-icon nc-tap-01" (click)="setFlasg(i.id,true)" title="Modificar"></button></td>
                <td *ngIf="flag"><button class="btn btn-outline-primary nc-icon nc-bookmark-2" (click)="setFlasg(i.id,false)" title="Guardar"></button><span></span><button class="btn btn-outline-danger nc-icon nc-simple-remove" (click)="cancell()" title="Cancelar"></button></td>
            </tr>
            <tr>
                <th>No. Facturacion</th>
                <td colspan='3'>{{i.card}}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <ng-container [ngSwitch]="i.role">
                    <td colspan='3' *ngSwitchCase=0>Gerente Sistemas</td>
                    <td colspan='3' *ngSwitchCase=1>Gerente</td>
                    <td colspan='3' *ngSwitchCase=2>Administrador</td>
                    <td colspan='3' *ngSwitchCase=3>Invitado</td>
                    <td colspan='3' *ngSwitchDefault> </td>
                </ng-container>
            </tr>
            <tr>
              <th>Auditor</th>
              <td colspan='3'>{{i.auditor}}</td>
          </tr>
         </ng-container>   
        </table>
      </div>
    </div>
</div>





