<div class="main">
  <div class="section text-center">
    <div class="container">

      <br>
      <br>
      <div class="nc-icon nc-zoom-split">
        <input type="text" [(ngModel)]="filtroNombre" placeholder="Buscar por nombre">
        <br>
        <br>
       </div>
       <button (click)="generarPDF()">Generar PDF</button>
  
      

      <div class="row">
        <div class="col-md-12">
          <div class="info">


            <div class="boxesContainer text-selection-disable" *ngFor="let i of ListProductosCatalogo">

              <div class="cardBox" [hidden]="filtroNombre && i.nombre.toLowerCase().indexOf(filtroNombre!.toLowerCase()) === -1">
                <div class="card">
                  <div class="front">
                    <div class="image-container">
                      <img src="{{URL}}/uploads/{{i.reference}}.png" alt="">
                    </div>
                    <p><b>CODIN: </b>{{i.reference}}</p>
                    <p>{{i.nombre}}</p>
                  </div>
                  <div class="back">
                    <p><b>Precio : </b>{{i.pormayor}}
                        <b>Laboratorio: </b>{{i.supplier}}
                    </p>
                    
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>





      </div>
    </div>
  </div>