<div class="main">
    <div class="section text-center">
      <div class="container">

        <h1>Calificacion Final</h1>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <ngx-gauge [value]='$any(this.porcentajeExcelente.toFixed(1))' [thick]='15'  append="%" label="Bueno">
                    </ngx-gauge>
                    <div>
                        <label>Porcentaje de Preguntas Buenas</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <ngx-gauge [value]='$any(this.porcentajeRegular.toFixed(1))' [thick]='15'  append="%" label="Regular">
                    </ngx-gauge>
                    <div>
                        <label>Porcentaje de Preguntas Regular</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <ngx-gauge [value]='$any(this.porcentajeErroneo.toFixed(1))' [thick]='15'  append="%" label="Erroneo">
                    </ngx-gauge>
                    <div>
                        <label>Porcentaje de Preguntas Erroneas</label>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <button *ngIf="!flag" class="btn-success float-left"  (click)="generarPDF(ListProductosCalificados)">Descargar mis respuestas</button>
        <button *ngIf="!flag" class="btn-success float-right" (click)="newCalificacion()" >Ver otras evaluaciones</button>
        <form *ngIf="flag">
          <div class="mb-3">
            <label class="form-label">Tipo de evaluacion</label>
            <select  [(ngModel)]="ObjEvaluacion.tipo" class="form-control" name="tipo">
            <option  *ngFor="let item of listaOp" >{{item}}</option>
    </select>
        </div>
          <input type="text" class="form-control" [(ngModel)]="ObjIdCalificacionPDF.id" title="codigo de evaluacion" name="idEvaluacion">
          <br>
          <button class="btn-info" (click)="callCalificacionEvaluacion()" >Generar</button>
        </form>
        <br>
        <br>

        <div class="card text-bg-light mb-3 ">
            <div class="card-header">Preguntas realizadas</div>
            <div class="card-body table-card">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pregunta</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Calificacion</th>
                  </tr>
                </thead>
                <tbody>
  
  
                  <ng-container *ngFor="let pc of ListProductosCalificados; let i = index">
                    <tr>
                      <th>{{pc.pregunta}}</th>
                      <th>{{pc.nombre}}</th>
                      <ng-cotainer [ngSwitch]="pc.calificacion">
                        <th *ngSwitchCase=0>Bueno</th>
                        <th *ngSwitchCase=1>Regular</th>
                        <th *ngSwitchCase=2>Erroneo</th>
                        <th *ngSwitchDefault> </th>
                      </ng-cotainer>
                    </tr>
                  </ng-container>
  
                </tbody>
              </table>
            </div>
          </div>
  

      </div>
    </div>
</div>
