<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Id</label>
                            <input [(ngModel)]="EditUsuario.id" type="text" class="form-control" name="id">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input [(ngModel)]="EditUsuario.name" type="text" class="form-control" name="name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input [(ngModel)]="EditUsuario.apppassword" type="text" class="form-control" name="apppassword">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">No facturacion</label>
                            <input [(ngModel)]="EditUsuario.card" type="number" class="form-control" name="card">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Rol</label>
                            <!-- <input [(ngModel)]="EditUsuario.role" type="text" class="form-control" name="role"> -->
                            <!-- [selected]="ngSelect" [value]="item" -->
                            <select [(ngModel)]="EditUsuario.role" class="form-control" name="rol">
                                <option [selected]="item === ngSelect" [value]="item" *ngFor="let item of listaOp">{{item}}
                                </option>
                            </select>
        
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Imagen</label>
                            <!-- <input [(ngModel)]="AggUsuario.image" type="text" class="form-control" name="image"> -->
                            <input [(ngModel)]="EditUsuario.image" type="file" class="form-control" name="image"
                                accept="image/png, image/jpeg">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Auditor</label>
                            <!-- <input [(ngModel)]="EditUsuario.auditor" type="text" class="form-control" name="auditor"> -->
                            <select [(ngModel)]="EditUsuario.auditor" class="form-control" name="auditor">
                                <option *ngFor="let item of listaOpAudi">{{item}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Token</label>
                            <input [(ngModel)]="EditUsuario.token" type="text" class="form-control" name="token">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Token Life</label>
                            <input [(ngModel)]="EditUsuario.tokenLife" type="text" class="form-control" name="tokenLife">
                        </div>
        
                        <div class="mb-3">
                            <button (click)="EditarUsuario()" type="button" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <img src="{{EditUsuario.image}}" width="100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


