<div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Lista de moviemientos entre farmacias</h2>
          </div>
        </div>
        <br/>
        <br/>
        <div class="mb-3">
          <label class="form-label">Seleciona una opcion de traslado</label>
      <select [(ngModel)]="estado2" (change)="getTraslado($event)" class="form-control">
          <option  *ngFor="let item of listaOp" >{{item}}</option>
      </select>
      </div>
        <div class="row">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">id</th>
                    <th scope="col">Entrega</th>
                    <th scope="col">Recibe</th>
                    <th scope="col">Encargado</th>
                    <th scope="col">Autoriza</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Salida</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let i of ListaNotaTraslado">
                  <tr>    
                    <td>{{i.no}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.id_entrega}}</td>
                    <td>{{i.id_recibe}}</td>
                    <td>{{i.id_encargado}}</td>
                    <td>{{i.id_autorizado}}</td>
                    <td>{{i.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>{{i.id_location_destino}}</td>
                    <td *ngIf="i.estado == 0">Creados</td>
                    <td *ngIf="i.estado == 1">Pendiente Aprobacion</td>
                    <td *ngIf="i.estado == 2">Autorizados</td>
                    <td *ngIf="i.estado == 3 && i.id_location_origen == idFarmacia ">Salientes</td>
                    <td *ngIf="i.estado == 3  && i.id_location_destino == idFarmacia ">Entrantes</td>
                    <td *ngIf="i.estado == 2"><button type="button" class="btn btn-success" (click)="insertStockDiary(i.id,i.id_location_destino)" >Dar Salida</button></td>
                  </tr>
                  </ng-container>
                </tbody>
              </table>
        </div>
      </div>
    </div>
