<div class="main">
    <div class="section text-center">
      <div class="container">

        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
              <app-loading *ngIf="carga"></app-loading>
          </div>
      </div>



        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Lista de movimientos entre farmacias</h2>
          </div>
        </div>
        <br/>
        <br/>
        <div class="mb-3">
          <label class="form-label">Seleciona una opcion de traslado</label>
      <select [(ngModel)]="estado2" (change)="getTraslado($event)" class="form-control">
          <option  *ngFor="let item of listaOp" >{{item}}</option>
      </select>
      </div>

        <div class="row">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">id</th>
                    <th scope="col">Entrega</th>
                    <th scope="col">Recibe</th>
                    <th scope="col">Encargado</th>
                    <th scope="col">Autoriza</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Accion</th>
                    <th scope="col">Ver Productos</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let i of ListaNotaTraslado">
                  <tr>    
                    <td>{{i.no}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.id_entrega}}</td>
                    <td>{{i.id_recibe}}</td>
                    <td>{{i.id_encargado}}</td>
                    <td>{{i.id_autorizado}}</td>
                    <td>{{i.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>{{i.id_location_destino}}</td>
                    <td *ngIf="i.estado == 0">Creados</td>
                    <td *ngIf="i.estado == 1">Pendiente Aprobacion</td>
                    <td *ngIf="i.estado == 2">Autorizados</td>
                    <td *ngIf="i.estado == 3 && i.id_location_origen == idFarmacia ">Salientes</td>
                    <td *ngIf="i.estado == 3  && i.id_location_destino == idFarmacia ">Entrantes</td>
                    <td *ngIf="i.estado == 4">Finalizado</td>
                    <td *ngIf="i.estado == 2"><button type="button" class="btn btn-success" (click)="insertStockDiaryOrigen(i.id,i.id_location_destino)" >Dar Salida</button></td>
                    <td *ngIf="i.estado != 2">Sin Accion</td>
                    <td *ngIf="i.estado == 3 && i.id_location_destino == idFarmacia"><button type="button" class="btn btn-success" (click)="insertStockDiaryDestino(i.id,i.id_location_destino)">Recibido</button></td>
                    <td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong" (click)="getProductosTraslado(i.id_detalle_traslado)"> Ver Productos</button></td>
                  </tr>
                  </ng-container>
                </tbody>
              </table>
        </div>




        







      </div>
    </div>


    
<!-- Modal -->
<div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Productos Ingresados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Codin</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>  
                    </tr>
                </thead>
                <tbody>

                
                    <tr *ngFor="let j of ListaProductosTraslado">

                        <th>{{j.id}}</th>
                        <th>{{j.codin}}</th>
                        <th>{{j.nombre}}</th>
                        <th>{{j.cantidad}}</th>
                    </tr>
                 
                </tbody>
            </table>
        </div>
        <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                                     </div> -->
    </div>
</div>
</div>

