<!-- main -->
<div class="main">
    <div class="section text-center">

        
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Metas de farmacia correspondientes al dia {{obtenerFechaActual()}}</h1>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <!-- <app-loading *ngIf="loading1 && loading2 && loading3"></app-loading> -->
                <app-loading *ngIf="loading2 && loading3"></app-loading>
            </div>
        </div>
      
   
        <div class="row">
            <div class="col-md-6">
                <div class="info">

                                            <div *ngIf="!loading2 && !loading3" class="chart-container">
                                                <div class="spectre-line-chart">
                                                    <ngx-charts-bar-horizontal  [view]="view" 
                                                                                [scheme]="colorScheme" 
                                                                                [results]="single"
                                                                                [gradient]="gradient" 
                                                                                [xAxis]="showXAxis" 
                                                                                [yAxis]="showYAxis"
                                                                                [legend]="showLegend" 
                                                                                [showXAxisLabel]="showXAxisLabel"
                                                                                [showYAxisLabel]="showYAxisLabel" 
                                                                                [xAxisLabel]="xAxisLabel"
                                                                                [yAxisLabel]="yAxisLabel" 
                                                                                (select)="onSelect($event)">
                                                    </ngx-charts-bar-horizontal>
                                                </div>
                                                
                

                                                        <div class="info">
                                                            <ngx-gauge [value]='pVenta' [thick]='15' [label]="farmacia" append="%">
                                                            </ngx-gauge>
                                                            <div>
                                                                <label>Porcentaje de Meta Actual</label>
                                                            </div>
                                                        </div>
                                            </div>
                                            <br />
                                            <br />
                                
                

                </div>
              </div>
              
              
              <div class="col-md-6">
                <div class="info">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="cuadroFirst">
                                <img src='{{URL}}/uploads/vendedores/claudia.jpeg' >
                            </div>
                        </div>
                  
                        <div class="col-md-3">
                            <div class="cuadroSecond">
                                <img src='{{URL}}/uploads/vendedores/persona2.jpeg' >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="cuadroThird">
                                <img src='{{URL}}/uploads/vendedores/persona3.jpeg' >
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="cuadro">
                                <img src='{{URL}}/uploads/vendedores/claudia.jpeg' >
                            </div>
                        </div>

                </div>
                </div>
              </div>
          
        </div>
 
    </div>
</div>





<!-- end main -->
