.left-align {
    float: left;
    margin-right: 10px;
  }

/* Estilo para el cuadro */
.cuadro {
  width: 150px; /* Ancho del cuadro */
  height: 150px; /* Altura del cuadro */
  border: 2px solid #000; /* Borde negro de 2 píxeles */
  padding: 10px; /* Espacio interno de 10 píxeles */
  text-align: center; /* Centrar el contenido horizontalmente */
  position: relative; /* Para poder posicionar el círculo de manera absoluta */
}

.cuadroFirst {
  width: 150px; /* Ancho del cuadro */
  height: 150px; /* Altura del cuadro */
  border: 5px solid #ddd272; /* Borde negro de 2 píxeles */
  padding: 10px; /* Espacio interno de 10 píxeles */
  text-align: center; /* Centrar el contenido horizontalmente */
  position: relative;
}

.cuadroSecond {
  width: 150px; /* Ancho del cuadro */
  height: 150px; /* Altura del cuadro */
  border: 5px solid #7c7c7c; /* Borde negro de 2 píxeles */
  padding: 10px; /* Espacio interno de 10 píxeles */
  text-align: center; /* Centrar el contenido horizontalmente */
  position: relative;
}

.cuadroThird {
  width: 150px; /* Ancho del cuadro */
  height: 150px; /* Altura del cuadro */
  border: 5px solid #946c16; /* Borde negro de 2 píxeles */
  padding: 10px; /* Espacio interno de 10 píxeles */
  text-align: center; /* Centrar el contenido horizontalmente */
  position: relative;
}

/* Estilo para la imagen dentro del cuadro */
.cuadro img {
  max-width: 100%; /* Ajustar la imagen al ancho del cuadro */
  max-height: 100%; /* Ajustar la imagen a la altura del cuadro */
}
/* Estilo para la imagen dentro del cuadro */
.cuadroFirst img {
  max-width: 100%; /* Ajustar la imagen al ancho del cuadro */
  max-height: 100%; /* Ajustar la imagen a la altura del cuadro */
}
/* Estilo para la imagen dentro del cuadro */
.cuadroSecond img {
  max-width: 100%; /* Ajustar la imagen al ancho del cuadro */
  max-height: 100%; /* Ajustar la imagen a la altura del cuadro */
}

/* Estilo para la imagen dentro del cuadro */
.cuadroThird img {
  max-width: 100%; /* Ajustar la imagen al ancho del cuadro */
  max-height: 100%; /* Ajustar la imagen a la altura del cuadro */
}


.cuadroFirst::before {
  content: ""; /* No necesitas contenido aquí si estás usando una imagen */
  position: absolute;
  top: 0;
  left: 0;
  width: 40px; /* Ajusta el ancho de la imagen */
  height: 40px; /* Ajusta la altura de la imagen */
  background: url('src\assets\img\salom\first.png') no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* Puedes ajustar otros estilos según tus preferencias */
}

.cuadroSecond::before {
  content: ""; /* No necesitas contenido aquí si estás usando una imagen */
  position: absolute;
  top: 0;
  left: 0;
  width: 40px; /* Ajusta el ancho de la imagen */
  height: 40px; /* Ajusta la altura de la imagen */
  background: url('src\assets\img\salom\second.png') no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* Puedes ajustar otros estilos según tus preferencias */
}

.cuadroThird::before {
  content: ""; /* No necesitas contenido aquí si estás usando una imagen */
  position: absolute;
  top: 0;
  left: 0;
  width: 40px; /* Ajusta el ancho de la imagen */
  height: 40px; /* Ajusta la altura de la imagen */
  background: url('src\assets\img\salom\third.png') no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* Puedes ajustar otros estilos según tus preferencias */
}

