<!-- main -->
<div class="main">
    <div class="section text-center">

        
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Metas de farmacia correspondientes al dia {{obtenerFechaActual()}}</h1>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <!-- <app-loading *ngIf="loading1 && loading2 && loading3"></app-loading> -->
                <app-loading *ngIf="loading2 && loading3"></app-loading>
            </div>
        </div>
      
        
   
        <div class="row">
            <div class="col-md-6">
                <div class="info">

                                            <div *ngIf="!loading2 && !loading3" class="chart-container">
                                                <div class="spectre-line-chart">
                                                    <ngx-charts-bar-horizontal  [view]="view" 
                                                                                [scheme]="colorScheme" 
                                                                                [customColors]="customColors"
                                                                                [results]="single"
                                                                                [gradient]="gradient" 
                                                                                [xAxis]="showXAxis" 
                                                                                [yAxis]="showYAxis"
                                                                                [xScaleMax]="xScaleMax"
                                                                                [legend]="showLegend" 
                                                                                [showXAxisLabel]="showXAxisLabel"
                                                                                [showYAxisLabel]="showYAxisLabel" 
                                                                                [xAxisLabel]="xAxisLabel"
                                                                                [yAxisLabel]="yAxisLabel" 
                                                                                [rotateXAxisTicks]="true"
                                                                                [trimXAxisTicks]="false"
                                                                                (select)="onSelect($event)">
                                                    </ngx-charts-bar-horizontal>
                                                </div>
                                                
                

                                                        <div class="info">
                                                            <ngx-gauge [value]='pVenta' [thick]='15' [label]="farmacia" append="%">
                                                            </ngx-gauge>
                                                            <div>
                                                                <label>Porcentaje de Meta Actual</label>
                                                            </div>
                                                        </div>
                                            </div>
                                            <br />
                                            <br />
                                
                

                </div>
              </div>
              
              
              <div class="col-md-6">
                <div class="info">
                    <div class="row" >
                        <div class="col-md-3" *ngFor="let i of ListPeopleLocationRank">

                            <!-- <div *ngIf="i.puesto === 0" class="cuadroFirst">
                                <img src='{{URL}}/uploads/vendedores/{{i.id}}.png' >
                            </div>
                            <div *ngIf="i.puesto === 1" class="cuadroSecond">
                                <img src='{{URL}}/uploads/vendedores/{{i.id}}.png' >
                            </div>
                            <div *ngIf="i.puesto === 2" class="cuadroThird">
                                <img src='{{URL}}/uploads/vendedores/{{i.id}}.png' >
                            </div>
                            <div *ngIf="i.puesto > 2 && i.actual > i.meta" class="cuadro">
                                <img src='{{URL}}/uploads/vendedores/{{i.id}}.png' >
                            </div>
                            <div *ngIf="i.puesto > 2 && i.actual < i.meta" class="cuadroBad">
                                <img src='{{URL}}/uploads/vendedores/{{i.id}}.png' >
                            </div> -->

                            <div class="boxesContainer text-selection-disable">
                                <div class="cardBox">

                                  <div *ngIf="i.puesto === 1" class="cardFirst" style="cursor:pointer;">
                                    <div class="front">
                                      <div class="image-container">
                                        <img src="{{URL}}/uploads/vendedores/{{i.id}}.png">
                                      </div>
                                      <p><b>{{i.name}}</b></p>
                                    </div>
                                    <div class="back">
                                      <p><b>Posicion: </b>{{i.puesto}}</p>
                                      <p><b>Meta Sugerida: </b>{{i.meta | percent: '2.0-2'}}</p>
                                      <p><b>Meta Actual: </b>{{i.actual | percent: '2.0-2'}}</p>
                                    </div>
                                  </div>

                                  <div *ngIf="i.puesto === 2" class="cardSecond" style="cursor:pointer;">
                                    <div class="front">
                                      <div class="image-container">
                                        <img src="{{URL}}/uploads/vendedores/{{i.id}}.png">
                                      </div>
                                      <p><b>{{i.name}}</b></p>
                                    </div>
                                    <div class="back">
                                      <p><b>Posicion: </b>{{i.puesto}}</p>
                                      <p><b>Meta Sugerida: </b>{{i.meta | percent: '2.0-2'}}</p>
                                      <p><b>Meta Actual: </b>{{i.actual | percent: '2.0-2'}}</p>
                                    </div>
                                  </div>

                                  <div *ngIf="i.puesto === 3" class="cardThird" style="cursor:pointer;">
                                    <div class="front">
                                      <div class="image-container">
                                        <img src="{{URL}}/uploads/vendedores/{{i.id}}.png">
                                      </div>
                                      <p><b>{{i.name}}</b></p>
                                    </div>
                                    <div class="back">
                                      <p><b>Posicion: </b>{{i.puesto}}</p>
                                      <p><b>Meta Sugerida: </b>{{i.meta | percent: '2.0-2'}}</p>
                                      <p><b>Meta Actual: </b>{{i.actual | percent: '2.0-2'}}</p>
                                    </div>
                                  </div>

                                  <div *ngIf="i.puesto > 3 && i.actual > i.meta" class="cardGood" style="cursor:pointer;">
                                    <div class="front">
                                      <div class="image-container">
                                        <img src="{{URL}}/uploads/vendedores/{{i.id}}.png">
                                      </div>
                                      <p><b>{{i.name}}</b></p>
                                    </div>
                                    <div class="back">
                                      <p><b>Posicion: </b>{{i.puesto}}</p>
                                      <p><b>Meta Sugerida: </b>{{i.meta | percent: '2.0-2'}}</p>
                                      <p><b>Meta Actual: </b>{{i.actual | percent: '2.0-2'}}</p>
                                    </div>
                                  </div>

                                  <div *ngIf="i.puesto > 3 && i.actual < i.meta" class="cardBad" style="cursor:pointer;">
                                    <div class="front">
                                      <div class="image-container">
                                        <img src="{{URL}}/uploads/vendedores/{{i.id}}.png">
                                      </div>
                                      <p><b>{{i.name}}</b></p>
                                    </div>
                                    <div class="back">
                                      <p><b>Posicion </b>{{i.puesto}}</p>
                                      <p><b>Meta Sugerida: </b>{{i.meta | percent: '2.0-2'}}</p>
                                      <p><b>Meta Actual: </b>{{i.actual | percent: '2.0-2'}}</p>
                                    </div>
                                  </div>



                                </div>
                              </div>


                            
                        </div>

                </div>
                </div>
              </div>
          
        </div>
 
    </div>
</div>





<!-- end main -->
