<!-- main -->
<div class="main">
    <div class="section text-center">




        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Lista de puesto de trabajos</h1>
            </div>
        </div>





        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="tab-pane text-center">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <h2 class="text-left title">Gerencia</h2>
                            <button routerLink="/create" type="button"
                                class="btn btn-primary float-left">Agregar</button>
                            <br />
                            <br />
                        </div>
                    </div>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Salario Minimo</th>
                                <th scope="col">Salario Maximo</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- *ngFor="let user of ListarUsuarios" -->
                                <th>nombre</th>
                                <td>description</td>
                                <td>salario minimo</td>
                                <td>salario maximo</td>
                                <td>
                                    <button type="button" class="btn btn-warning">Editar</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="tab-pane text-center">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <h2 class="text-left title">Farmacia</h2>
                            <button routerLink="/create" type="button"
                                class="btn btn-primary float-left">Agregar</button>
                            <br />
                            <br />
                        </div>
                    </div>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Salario Minimo</th>
                                <th scope="col">Salario Maximo</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- *ngFor="let user of ListarUsuarios" -->
                                <th>nombre</th>
                                <td>description</td>
                                <td>salario minimo</td>
                                <td>salario maximo</td>
                                <td>
                                    <button type="button" class="btn btn-warning">Editar</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <div class="tab-pane text-center">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <h2 class="text-left title">Bodega</h2>
                            <button routerLink="/create" type="button"
                                class="btn btn-primary float-left">Agregar</button>
                            <br />
                            <br />
                        </div>
                    </div>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Salario Minimo</th>
                                <th scope="col">Salario Maximo</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- *ngFor="let user of ListarUsuarios" -->
                                <th>nombre</th>
                                <td>description</td>
                                <td>salario minimo</td>
                                <td>salario maximo</td>
                                <td>
                                    <button type="button" class="btn btn-warning">Editar</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>
</div>





<!-- end main -->