<div class="main">
    <div class="section text-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Ventas diarias correspondiente al dia {{fechaDia}}</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4 ml-auto mr-auto">
                    <div class="card text-bg-light mb-3" >
                        <div class="card-header">Sucursal {{idEntrante}}</div>
                        <div class="card-body table-card">
                            <table class="table">
                                <tr class='table-dark'>
                                    <th colspan='3'>
                                        Personal de la Sucursal
                                    </th>
                                </tr>
                                <tr *ngFor="let p of ListaPeopleLocation">
                                    <th>Titular</th>
                                    <td>{{p.name}}</td>
                                </tr>
                                <tr class='table-dark'>
                                    <th colspan='2'>
                                        Datos de la sucursal
                                    </th>
                                </tr>
                                <tr>
                                    <th>Venta Actual</th>
                                    <td>{{Venta.total | currency: 'Q'}}</td> 
                                </tr>
                                <tr>
                                    <th>Meta</th>
                                    <td>{{metas.monto | currency: 'Q'}}</td>
                                </tr>
                                <tr>
                                    <th>Falta para la meta</th>
                                        <td>{{faltante | currency: 'Q'}}</td>
                                </tr>
                                <tr>
                                    <th>Dias restantes</th>
                                        <td>{{diasRestantes}}</td>
                                </tr>
                                <tr>
                                    <th>Venta Necesaria</th>
                                        <td>{{ventaNecesaria | currency: 'Q'}}</td>
                                </tr>
                        </table>
                        </div>
                      </div>
                </div>
                <div class="col-4 ml-auto mr-auto">
                    <div class="card text-bg-light mb-3" >
                        <div class="card-header">Venta Diaria</div>
                        <div class="card-body table-card">
                            <table class="table">
                                <thead>
                                    <tr class='table-dark'>
                                        <th scope="col">Dia</th>
                                        <th scope="col">Venta</th>
                                        <th scope="col">Acumulado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr *ngFor="let venta of ListaVentaPorDia; let i = index">
                                        <td>{{venta.dia}}</td>
                                        <td>{{venta.titular | currency: 'Q' }}</td> 
                                        <td *ngIf="i==0">{{setAcumulado(venta.titular) | currency: 'Q' }}</td>
                                        <td *ngIf="i!=0">{{getAcumulado(venta.titular) | currency: 'Q'}}</td>
                                        
                                    </tr>
                                
        
                                </tbody>
                        </table>
                        </div>
                      </div>
                </div>
                <div class="col-4 ml-auto mr-auto">
                    <div class="card text-bg-light mb-3" >
                        <div class="card-header">Cierres</div>
                        <div class="card-body table-card">
                            
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>