<div class="main">
    <div class="section text-center">
        <div class="container">

            <h1>Evaluacion en proceso..</h1>
            <br>

                <!--nav  -->
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Evaluando" role="tab"><i
                  class="nc-icon nc-single-02"></i>Evaluando</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Evaluacion" role="tab"><i
                  class="nc-icon nc-chart-pie-36"></i>Evaluacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Estadistica" role="tab"><i class="nc-icon nc-calendar-60"></i>Estadistica de evalucion</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End nav -->
      <!-- Tab panes -->
      <div class="tab-content following">
        <div class="tab-pane active" id="Evaluando" role="tabpanel">

         
              <div class="info">
                <div class="card text-bg-light mb-3">
                  <div class="card-header">Datos Evaluando</div>
                  <div class="card-body table-card">
                    <table class="table">
                     <tr>
                        <th>Nombre</th>
                        <th>{{this.ObjEvaluacion.nombre}}</th>
                      </tr>
                      <tr>
                        <th>Puesto</th>
                        <th>{{this.ObjEvaluacion.puesto }}</th>
                      </tr>
                      <tr>
                        <th>Observacion</th>
                        <th>{{this.ObjEvaluacion.observacion}}</th>
                      </tr>
                    </table>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="info">
                          <ngx-gauge [value]='50' [thick]='15'
                            append="%">
                          </ngx-gauge>
                          <div>
                            <label>Porcentaje de evaluacion</label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
           

        </div>
        <div class="tab-pane text-center" id="Evaluacion" role="tabpanel">

            <div class="row">
                

                <div class="col-md-6">
                    <div class="info">
                      <div class="card text-bg-light mb-3">
                        <div class="card-header">Calificacion</div>
                        <div class="card-body table-card">
                            <div class="button-container">
                                <button class="btn-success"><i class="nc-icon nc-check-2" (click)="setDatosProductosEvaluacion('0')" ></i></button>
                                <button class="btn-warning"><i class="nc-icon nc-simple-delete" (click)="setDatosProductosEvaluacion('1')"></i></button>
                                <button class="btn-danger"><i class="nc-icon nc-simple-remove" (click)="setDatosProductosEvaluacion('2')"></i></button>
                            </div>
                        </div>
                      </div>
      
                    </div>

                    <div class="info">
                        <div class="card text-bg-light mb-3">
                          <div class="card-header">Seccion de pregunta</div>
                          <div class="card-body table-card">
                              <input *ngIf="flag" type="text" title="pregunta a realizar">
                              <Label>Pregunta No. {{this.ObjProductosEvaluacion.pregunta}}</Label>
                          </div>
                        </div>
                      </div> 
                   
                        
                      

                  </div>

                  

                  <div class="col-md-6">

                    <div class="info">
                        <div class="card text-bg-light mb-3">
                          <div class="card-header">Producto</div>
                          <div class="card-body table-card">
                            <div class="mb-3">
                              <label for="typeahead-focus">Buscar producto inicial</label>
                              <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
                                (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
                                #instance="ngbTypeahead" name="model" />
                                <button class="btn-info" (click)="newQuestion()" >enviar</button>
                            </div>
                              <img src="https://easydespensa.com/wp-content/uploads/2020/08/146476-1-ALKA-SELTZER-PRECIO-ESPECIAL-32410001976MG-TAB-EFERV-CAJ-X-14.jpg" alt="" width="800">
                          
                              <table class="table">
                                <tr>
                                  <th>Codin</th>
                                  <th>{{this.ObjProductoCodeName.code}}</th>
                                </tr>
                                <tr>
                                  <th>Nombre</th>
                                  <th>{{this.ObjProductoCodeName.nombre}}</th>
                                </tr>
                                <tr>
                                  <th>Comentario</th>
                                  <th></th>
                                </tr>
                              </table>

                            </div>
                        </div>
        
                      </div>
     

                  </div>


              </div>


        </div>
        <div class="tab-pane text-center" id="Estadistica" role="tabpanel">

          <div class="col-4 ml-auto mr-auto">
            <div class="card text-bg-light mb-3 " style="width: 25rem;">
              <div class="card-header">Cierres</div>
              <div class="card-body table-card">

              </div>
            </div>
          </div>


        </div>
      </div>
      <!--end Tab panes  --> 















        </div>
    </div>
</div>