<div class="main">
  <div class="section text-center">
    <div class="container">

      <h1 *ngIf="!flagEnd">Evaluacion en proceso..</h1>
      <h1 *ngIf="flagEnd">Evaluacion Finalizada</h1>
      <label *ngIf="!flagEnd">{{idEvaluacion}}</label>
      <br>

      <!--nav  -->
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Evaluando" role="tab"><i
                  class="nc-icon nc-single-02"></i>Evaluando</a>
            </li>
            <li *ngIf="!flagEnd" class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Evaluacion" role="tab"><i
                  class="nc-icon nc-ruler-pencil"></i>Evaluacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Estadistica" role="tab" (click)="ProductosCalificados()"><i
                  class="nc-icon nc-chart-pie-36"></i>Estadistica de evaluacion</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End nav -->
      <!-- Tab panes -->
      <div class="tab-content following">
        <div class="tab-pane active" id="Evaluando" role="tabpanel">


          <div class="info">
            <div class="card text-bg-light mb-3">
              <div class="card-header">Datos Evaluando</div>
              <div class="card-body table-card">
                <table class="table">
                  <tr>
                    <th>Nombre</th>
                    <th>{{this.ObjEvaluacion.nombre}}</th>
                  </tr>
                  <tr>
                    <th>Puesto</th>
                    <th>{{this.ObjEvaluacion.puesto }}</th>
                  </tr>
                  <tr>
                    <th>Observacion</th>
                    <th>{{this.ObjEvaluacion.observacion}}</th>
                  </tr>
                </table>

                <div class="row">
                  <div class="col-md-12">
                    <div class="info">
                      <ngx-gauge [value]='PorcentajeAvance' [thick]='15' append="%">
                      </ngx-gauge>
                      <div>
                        <label>Porcentaje de evaluacion</label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>


        </div>
        <div class="tab-pane text-center" id="Evaluacion" role="tabpanel">

          <div class="row">


            <div class="col-md-6">
              <div class="info">



                <div class="card text-bg-light mb-3">
                  <div class="card-header">Calificacion</div>
                  <div class="card-body table-card">

                    <div class="row">
                      <div class="col-md-12 ml-auto mr-auto">
                        <app-loading *ngIf="loading"></app-loading>
                      </div>
                    </div>

                    <div *ngIf="!loading" class="button-container">
                      <button class="btn-success"  (click)="editDatosProductosEvaluacion('0')"><i class="nc-icon nc-check-2"></i></button>
                      <button class="btn-warning" (click)="editDatosProductosEvaluacion('1')"><i class="nc-icon nc-simple-delete"></i></button>
                      <button class="btn-danger"  (click)="editDatosProductosEvaluacion('2')"><i class="nc-icon nc-simple-remove"></i></button>
                    </div>
                  </div>
                </div>

              </div>

              <div class="info">
                <div class="card text-bg-light mb-3">
                  <div class="card-header">Seccion de pregunta</div>
                  <div class="card-body table-card">
                    <input *ngIf="flag" type="text" title="pregunta a realizar">
                    <Label>Pregunta No. {{this.ObjProductosEvaluacion.pregunta}}</Label>
                  </div>
                </div>
              </div>




            </div>



            <div class="col-md-6">

              <div class="info">
                <div class="card text-bg-light mb-3">
                  <div class="card-header">Producto</div>
                  <div class="card-body table-card">
                    <div class="row">
                      <div class="col-md-12 ml-auto mr-auto">
                        <app-loading *ngIf="loading"></app-loading>
                      </div>
                    </div>
                    <div *ngIf="!loading">
                      <img src='{{URL}}/uploads/{{this.ObjProductoDiagnostica.reference}}.png' width="300" alt="">

                      <!-- <button class="btn-info" (click)="newQuestion()">enviar</button> -->


                      <table class="table">
                        <tr>
                          <td>Codin:</td>
                          <th>{{this.ObjProductoDiagnostica.reference}}</th>
                        </tr>
                        <tr>
                          <td>Nombre:</td>
                          <th>{{this.ObjProductoDiagnostica.nombre}}</th>
                        </tr>
                        <tr>
                          <td>Componente:</td>
                          <th>{{this.ObjProductoDiagnostica.componente}}</th>
                        </tr>
                        <tr>
                          <td>Indicacion:</td>
                          <th>{{this.ObjProductoDiagnostica.indicacion}}</th>
                        </tr>

                      </table>
                    </div>


                  </div>
                </div>

              </div>

              <div class="info">
                <div class="card text-bg-light mb-3">
                  <div class="card-header">Finalizar evaluacion</div>
                  <div class="card-body table-card">
                    <button class="btn-danger" (click)="Finalizar()">Finalizar</button>
                  </div>
                </div>
              </div>


            </div>




          </div>


        </div>
        <div class="tab-pane text-center" id="Estadistica" role="tabpanel">

          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <ngx-gauge [value]='this.porcentajeExcelente' [thick]='15' append="%" label="Excelente">
                </ngx-gauge>
                <div>
                  <label>Porcentaje de Preguntas Excelente</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <ngx-gauge [value]='this.porcentajeRegular' [thick]='15' append="%" label="Regular">
                </ngx-gauge>
                <div>
                  <label>Porcentaje de Preguntas Regular</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <ngx-gauge [value]='this.porcentajeErroneo' [thick]='15' append="%" label="Erroneo">
                </ngx-gauge>
                <div>
                  <label>Porcentaje de Preguntas Erroneas</label>
                </div>
              </div>
            </div>
          </div>

          <div class="card text-bg-light mb-3 ">
            <div class="card-header">Preguntas realizadas</div>
            <div class="card-body table-card">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pregunta</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Calificacion</th>
                  </tr>
                </thead>
                <tbody>


                  <ng-container *ngFor="let pc of ListProductosCalificados; let i = index">
                    <tr>
                      <th>{{pc.pregunta}}</th>
                      <th>{{pc.nombre}}</th>
                      <ng-cotainer [ngSwitch]="pc.calificacion">
                        <th *ngSwitchCase=0>Excelente</th>
                        <th *ngSwitchCase=1>Regular</th>
                        <th *ngSwitchCase=2>Erroneo</th>
                        <th *ngSwitchDefault> </th>
                      </ng-cotainer>
                    </tr>
                  </ng-container>

                </tbody>
              </table>
            </div>
          </div>



        </div>
      </div>
      <!--end Tab panes  -->















    </div>
  </div>
</div>